/* ----------------- */
/* Custom Properties */
/* ----------------- */

/* This is the usual way of doing things but... :root {
  --VoidBlue: hsla(230, 35%, 7%);
  --Periwinkle: hsla(231, 77%, 90%);
  --White: hsla(0, 0, 100%);
}  can do it this way and use classes below to more easily manipulate the a values on hsla*/

:root {
  --VoidBlue: 230 35% 7%;
  --Periwinkle: 231 77% 90%;
  --White: 0 0% 100%;
}

/* ---------------------------*/
/* Reset Template*/
/* -------------------------- */

/* Good for copy/paste resets: https://piccalil.li/blog/a-modern-css-reset/, Eric Myer, normalize, sanitize */

/* Box Sizing */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Margin reset */

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

/* set up the body */
body {
  line-height: 1.5;
  min-height: 100vh;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ---------------------------*/
/* Utility Classes*/
/* -------------------------- */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.container {
  padding-inline: 2em;
  max-width: 80rem;
  margin-inline: auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.box {
  background-color: lightblue;
  padding: 3rem;
}

/* colors */

.bg-VoidBlue {
  background-color: hsl(var(--VoidBlue));
}
.bg-Periwinkle {
  background-color: hsl(var(--Periwinkle));
}
.bg-White {
  background-color: hsl(var(--White));
}

.text-VoidBlue {
  color: hsl(var(--VoidBlue));
}
.text-Periwinkle {
  color: hsl(var(--Periwinkle));
}
.text-White {
  color: hsl(var(--White));
}
.example {
  background-color: hsl(var(--Periwinkle) / 0.2);
}
